<ion-content class="ion-text-center background">
  <img class="logo" src="assets/img/2.png" />
  <img class="burguer" src="assets/img/APPDELIVERY2.png" />
  <p>Como deseja continuar?</p>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-button routerLink="/tabs" shape="round" size="full" color="primary" class="font espaco">
        <ion-icon name="logo-google" slot="start">
        </ion-icon>
        Continue com o Google
      </ion-button>
      <ion-button routerLink="/tabs" shape="round" size="full" color="primary" class="font espaco">
        <ion-icon name="logo-facebook" slot="start">
        </ion-icon>
        Continue com o Facebook
      </ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-button routerLink="/tabs" class="set" fill="clear">
    <img class="arrow" src="assets/img/arrow.png">
  </ion-button> <p>Continuar como convidado</p>
</ion-content>