.text {
    font-size: 14px;
    margin-left: 24px;
}
.img {  
    width:100% !important ;
    height: auto;
}

.btn {
    width: 90%;
    height:0;
    padding-bottom: 80%;
    border-radius: 100%;
    border:6px solid #C1B803;
    overflow:hidden;
    box-shadow: 0 0 3px gray;
}
.row {
    text-align: center;
}
.font {
    font-size: 17px;
}
