<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="o que você quer hoje?"></ion-searchbar>
  <ion-text class="text">
    <ion-icon color="danger" name="location-outline"></ion-icon> R.cinco de maio nº100
  </ion-text>
  <img class="img" src="assets/img/6.png"/>
  <img src="assets/img/7.png" />
  <ion-row class="row">
    <ion-col size="4">
      <ion-card class="btn">
      </ion-card>
      <ion-card-title class="font">Restaurantes</ion-card-title>
      <ion-card class="btn">
      </ion-card>
      <ion-card-title class="font">Lojas</ion-card-title>
    </ion-col>
    <ion-col size="4">
      <ion-card class="btn">
      </ion-card>
      <ion-card-title class="font">SuperMercados</ion-card-title>
      <ion-card class="btn">
      </ion-card>
      <ion-card-title class="font">Bebidas</ion-card-title>
    </ion-col>
    <ion-col size="4">
      <ion-card class="btn">
      </ion-card>
      <ion-card-title class="font">Pizzarias</ion-card-title>
      <ion-card class="btn">
      </ion-card>
      <ion-card-title class="font">Burguerias</ion-card-title>
    </ion-col>
  </ion-row>
</ion-content>