<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="2">
      <img src="assets/img/2.png">
    </ion-col>
    <ion-col size="10">
      <ion-searchbar placeholder="o que você quer hoje?"></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-text class="text">
    <ion-icon color="danger" name="location"></ion-icon>R.cinco de maio nº100
  </ion-text>
  <ion-list>
    <ion-item class="item">
      <div class="quadrado"></div>
      <ion-avatar class="bola">
        <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
      </ion-avatar>
      <ion-label class="felipe">Felipe Nascimento</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-avatar class="tamanho" slot="start">
        <ion-icon class="icon" name="chatbubble"></ion-icon>
      </ion-avatar>
      <ion-label class="size">
        Chats
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar class="tamanho" slot="start">
        <ion-icon class="icon" name="notifications"></ion-icon>
      </ion-avatar>
      <ion-label class="size">
        Noticifações
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar class="tamanho" slot="start">
        <ion-icon class="icon" name="newspaper"></ion-icon>
      </ion-avatar>
      <ion-label class="size">
        Formas de Pagamento
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar class="tamanho" slot="start">
        <ion-icon class="icon" name="location"></ion-icon>
      </ion-avatar>
      <ion-label class="size">
        Endereços
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar class="tamanho" slot="start">
        <ion-icon class="icon" name="document-text"></ion-icon>
      </ion-avatar>
      <ion-label class="size">
        Meus Dados
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar class="tamanho" slot="start">
        <ion-icon class="icon" name="lock-closed"></ion-icon>
      </ion-avatar>
      <ion-label class="size">
        Segurança
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar class="tamanho" slot="start">
        <ion-icon class="icon" name="settings"></ion-icon>
      </ion-avatar>
      <ion-label class="size">
        Configurações
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>